* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

.btn {
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}
.register {
  background-color: green;
}
.login {
  background-color: red;
}
